.share-icon {
    position: relative;
    bottom: 55px;
    right: 120px;
    height: 35px;
    width: 30px;
    cursor: pointer;
}

.share-icon-displayed {
    position: relative;
    bottom: 32px;
    right: 90px;
    height: 35px;
    width: 30px;
    cursor: pointer;
}

.share-icon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    bottom: 61px;
    right: 50px;
    font-size: 20px;
}