.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.rem;
}

.card-content {
    display: flex;
    justify-content: space-around;
    width: 550px;
    height: 100%;
    padding: 1.5rem;
    border-radius: 1.2rem;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 1.5rem;
    text-align: justify;
    color: #666;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.card-popularity {
    font-size: 1.2rem;
    color: #0d8a50;
    background-color: #e6f4ea;
    padding: 0.4rem 0.8rem;
    margin-bottom: 10px;
    border-radius: 0.4rem;
    align-self: flex-start;
}

.card-release {
    font-size: 1.2rem;
    color: black;
    background-color: #10ceeb6e;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    align-self: flex-start;
}

.card-heart {
    display: block;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    margin-right: auto;
    height: 70px;
    width: 50px;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-image {
    width: 850px;
    height: 550px;
    border-radius: 0.8rem;
    border: 0.2rem solid #FB3B0033;
}

@media (min-width: 768px) {
    .card-content {
        flex-direction: row;
        align-items: center;
    }

    .text-content {
        flex: 1;
        margin-right: 1rem;
    }

    .image-container {
        flex: 0 0 150px;
        margin-top: 0;
    }

    .card-image {
        width: 250px;
        height: auto;
    }
}