.form-search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 18vh;
}

.form-search input {
    position: relative;
    z-index: 8;
    width: 27vw;
    margin-right: 18vw;
}

.form-search {
    font-size: 100px;
}

.container-movies {
    background-color: var(--branco);
    /* padding: 50px 25px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        ". . ."
        ". . .";
    height: 100%;
    width: 100%;
}

.hide {
    padding: 0;
    height: 0%;
}