.form-search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 16vh;
}

.form-search input {
    position: relative;
    width: 22vw;
}

.form-search {
    font-size: 100px;
}

.container-movies {
    background-color: var(--branco);
    /* padding: 50px 25px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem;
    grid-template-areas:
        ". . ."
        ". . .";
    height: 100%;
    width: 100%;
}

.select-favorites-btn {
    position: relative;
    bottom: 55px;
    right: 35px;
    background-color: #FF6347;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.select-favorites-btn-link {
    position: relative;
    bottom: 55px;
    right: 35px;
    background-color: #FF6347;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.select-favorites-btn:hover {
    background-color: #FF4500;
}

.hide {
    padding: 0;
    height: 0%;
}